/*================
    General
================*/
ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}


/*================
    Encabezado
================*/
nav ul {
    display: flex;
    justify-content: space-between;
}

/*================
    main
================*/
#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    width: 300px;
    height: 300px;
    margin: 10px;
    font-size: 12px;
    text-align: center;
}

.card-producto img {
    width: 130px;
}


#lista-productos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.li-listados {
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.li-listados img {
    width: 60px;
}

.li-listados p, .li-listados img {
    margin-bottom: 0;
}

.li-botonera {
    width: 20%;
    display: flex;
    align-items: center;
}

#getProduct-form {
    margin-bottom: 20px;
}